*{
    margin:0;
    padding:0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a:link{
    text-decoration: none;
    color: white;
}
.main{
    display: flex;
    flex-direction: column;
}
/* HEADER */
.header{
    min-width: max-content;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap:10px;
    color:white;
    align-items: center;

}
.links{
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding-right: 78px;
}
.logo{
    padding-left: 78px;
    font-size: 24px;
    font-weight: 900;
}
/* FIRST SECTION */
.one{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    height: 400px; 
    color: white;
}
.hero{
    width: 400px;
    height: auto;
}
.hero-title{
    font-size: 48px;
    font-weight: 900;

}
.placeholder{
    background-color: #e5e7eb;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: black;
    width: 400px;
    height: 200px;
}
.button{
    margin-top: 15px;
    display: flex;
    background-color: #3882f6;
    height: 20px;
    width: 50px;
    color: White;
    padding: 10px 30px;
    border-radius: 15px;
}
/* Second section */
.two{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}
.square{
    border: 3px solid #3882f6;
    border-radius: 15px;
    height: 100px;
    width: 100px;
    margin: 30px;

}
.squares{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.subheader{
    text-align: center;
    color: black;
    font-size: 36px;
    font-weight: 900;
    margin: 20px;
}


.three{
    background-color: #e5e7eb;
    height: 100px;
}
.four{
    background-color: white;
    height:100px;
}

